
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Успешная регистрация</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "register-success.css" %}" rel="stylesheet">

  </head>

  <body>

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Успешная регистрация</h1>
      </div>
      <p class="lead">Регистрация прошла успешно. Теперь вы можете использовать почту и пароль для входа <a href="http://localhost:8000/lab2/auth/">здесь</a>.</p>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">.</p>
      </div>
    </footer>

  </body>
</html>
